.main-nav {
  min-height: 50px;
  width: 100%;
  margin: 0% auto;
  border-top: solid 3px #ef8236;
  box-shadow: 0px 1px 5px #00000033;
  position: fixed;
  z-index: 5;
  top: 0%;
  left: 0%;
  background-color: #f8f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100%;
  min-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  padding: 5px 25px;
}

.nav-item {
  margin: 0px 3px;
  font-size: small;
  font-weight: 500;
  text-decoration: none;
  color: rgb(69, 69, 69);
  transition: 0.2s;
}

.nav-btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
}

.nav-item:hover {
  background-color: rgb(226, 226, 226);
}

.navbar form {
  flex-grow: 1;
  padding: 0px 12px;
  position: relative;
}

.navbar form input {
  min-width: 88%;
  margin: 0;
  padding: 8px 2px 8px 36px;
  font-size: 13px;
  border: solid 1px #0000003e;
  border-radius: 3px;
}

.navbar form .search-icon {
  position: absolute;
  left: 28px;
  top: 8px;
}

.nav-links {
  padding: 7px 13px;
  border: solid 1px blue;
  border-radius: 3px;
  margin: 2px 8px;
  background-color: #e7f8fe;
  cursor: pointer;
}

.nav-links:hover {
  background-color: #d3e4eb;
}

.open {
  display: flex;
  justify-content: end;
  position: fixed;
  left: 9%;
  width: 290px;
  transform: translateX(0%);
  transition: transform 150ms ease-in-out;
  z-index: 4;
}

.close {
  display: flex;
  justify-content: end;
  position: fixed;
  left: 9%;
  width: 290px;
  transform: translateX(-300%);
  transition: transform 0.7ms ease-in-out;
  z-index: 4;
}

.chatbot-button {
  position: fixed;
  bottom: 12px;
  right: 15px;
  z-index: 102;
  background: rgba(243, 166, 23, 0.799);
  padding: 18px 14px 10px;
  width: 22px;
  height: 22px;
  font-size: 1.6rem;
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1.5px solid orange;
}

/* .chat {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 101;
  transform: translate(0%);
  transition: ease-in-out 0.2s;
  width: 320px;
  height: 520px;
  border-radius: 3px;
  background-color: #d3e4eb;
  padding: 10px;
  overflow: auto;
} */

@media (min-width: 680px) {
  .open {
    display: flex;
    justify-content: end;
    position: fixed;
    left: 9%;
    width: 290px;
    transform: translateX(-290%);
    transition: transform 150ms ease-in-out;
    z-index: 4;
  }

  .close {
    display: flex;
    justify-content: end;
    position: fixed;
    left: 9%;
    width: 290px;
    transform: translateX(-300%);
    transition: transform 0.2ms ease-in-out;
    z-index: 4;
  }

  .fabar {
    display: none;
  }
}

@media (max-width: 680px) {
  #show {
    display: none;
  }

  .nav-logo {
    padding: 5px 5px;
  }

  .navbar form {
    flex-grow: 1;
    padding: 0 12px 0 0;
    position: relative;
  }

  .nav-links {
    padding: 7px 4px;
    border: solid 1px blue;
    border-radius: 3px;
    margin: 2px 6px;
    background-color: #e7f8fe;
    cursor: pointer;
  }
}

@media (min-width: 680px) {
  #icon {
    display: none;
  }
}
